/*OVERRIDING THE COLORS*/
$cyan: #5bdee6;
$gray-100: #e5e5e5;
$gray-500:#959595;

@import "../../node_modules/bootstrap/scss/bootstrap";

@include media-breakpoint-between(xs,md) {
  .card-body{

    .card-title{
      text-align: center;
    }

    .card-text{
      text-align: center;
    }
  }

  .row > * {
    display: flex;
    justify-content: center;
  }

  .show-mobile{
    display: flex;
    justify-content: center;
  }

  .hide-mobile{
    display: none;
  }
}

@include media-breakpoint-down(md){

  .card{
    max-width: 150vh;
  }

  .img-blog {
    max-width: 50vh;
    max-height: 50vh;
    margin: 1vh;
  }

}

@include media-breakpoint-up(md) {
  .show-mobile{
    display: none;
  }

  .hide-mobile{
    display: block;
  }

}

//common
#header{
  background: url('../img/bg-header.jpg');
  background-size: cover;
}

#footer{
  background: url('../img/bg-footer.png');
  background-repeat: round;
  max-height: 130vh;
  min-height: 120px;
  height: 120px;
  position: relative;
  bottom: 0;
  color: $cyan;
  font-size: 2vh;

  div{
    margin:2vh;
  }

  .copyright{
    font-family: Arial, Helvetica, sans-serif;
  }

  .social-media{
    display:flex;
    gap:3vh;
    font-size: 5vh;
  }
}

//blog.html
#line{
  border-top: 1px solid $gray-100;
  margin: 15px 0 0;
  padding: 13px 0 25px;
}
.img-blog {
  width: 170px;
  height: 180px;
  margin: 1vh;
}

//all titles
h5{
  color: $orange-500;
  font-family: 'Maven Pro', sans-serif;
}

.textJustified {
  text-align: justify;
}

p{
  color: $gray-500;
  font-family: 'Raleway', sans-serif;
}

