@import "../../node_modules/bootstrap/scss/bootstrap";

// 6. Add additional custom code here*/

@include media-breakpoint-between(xs,md) {
  .card-body{
    .card-title{
      text-align: center;
    }

    .card-text{
      text-align: center;
    }
  }

  .row > * {
    display: flex;
    justify-content: center;
  }

  .show-mobile{
    display: block;
  }

  .hide-mobile{
    display: none;
  }
}

@include media-breakpoint-down(md){

  .card{
    max-width: 45vh;
  }

}

@include media-breakpoint-up(md) {
  .show-mobile{
    display: none;
  }

  .hide-mobile{
    display: block;
  }

}

//common
#header{
  background: url('../img/bg-header.jpg');
  background-size: cover;
}
#footer{
  background: url('../img/bg-footer.png');
  height: 120px;
  position: relative;
  bottom: 0;
}

//blog.html
#line{
  border-top: 1px solid #e5e5e5;
  margin: 15px 0 0;
  padding: 13px 0 25px;
}
.img-blog {
  width: 170px;
  height: 180px;
  margin: 1vh;
}

//all titles
h5{
  color: $orange-500;
}

.textJustified {
  text-align: justify;
}


